body {
  margin: 0;
  background-color: grey;
}

.drumcontainer {
  border: 2px solid crimson;
  margin: auto;
  background-color: black;
  width: 500px;
}

button {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2em;
  background-color: crimson;
  border-radius: 10px;
  width: 80px;
  height: 60px;
}

button:hover {
  outline: solid white;
  z-index: 3;
}

.buttonrow {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 5px;
}
